body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
     display: flex;
     gap: 16px;
     margin-bottom: 16px;
 
 }
.grid {
    background-color: #FAEBD7;
    display: flex;
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
}



div[id*='square-'] {
    
}


